
.carousel-caption {
    position: absolute;
    left: 0;
    width: 34%;
    top: 20%;
    margin-left: -12%;
}
.carousel-caption h4{
    line-height: 4.5;
    font-size: 6mm;
    text-align: left;
}
.carousel-caption h5{
    text-align: left;
    line-height: 2.5;
}
.carousel-caption p{
    text-align: justify;
    line-height: 1.5;
}
.BIT{
    color: #A50000;
}
.text-blackT{
    font-weight: normal;
    color: black;
}
.text-span{
    font-weight: bold;
}
.d-grid {
    margin-top: 15%;
    height: 13%;
    border-radius: 10px;
    background: #A50000;
}
.reseña{
    /*background: yellow;*/
    height: 150px;
    margin-top: 0%;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.tituloreseña{
    /*background: yellow;*/
    height: 150px;
    margin-top: 4%;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    border-radius: 20px;
}