#card{
    width: 20rem;
    margin: auto auto;
    text-align: center;
    background-color: #A50000;
}

#h5{
    color: #A50000;
}

span{
    color: #A50000;
}

#card-navigation{
    width: 80%;
}


